.header{
    padding: 20px;
   
    height: 30px;
    background-color: #151a1f;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.header h1{
    margin: 0;
}
.logout-btn{
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border:none;
    cursor: pointer;

}